:host {
  display: block;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.search-bar {
  max-width: 1100px;
  margin: 0 auto 30px;
}

.flights-results {
  max-width: 100%;
  margin: 0 auto;
}

table {
  width: 100%;
}

tr.flight-detail-row {
  height: 0;
}

tr.flight-row:not(.flight-expanded-row):hover {
  background: whitesmoke;
}

tr.flight-row:not(.flight-expanded-row):active {
  background: #efefef;
}

.flight-row td {
  border-bottom-width: 0;
}

.flight-detail {
  overflow: hidden;
  display: flex;
}

.flight-connection {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px;
  height: 104px;
}

