<div class="search-bar">
  <airline-flight-search-bar (search)="handleSearch($event)" [stations]="stations"></airline-flight-search-bar>
</div>
<div class="flights-results">
  <table mat-table matSort
    (matSortChange)="sortData($event)"
    [dataSource]="flight$ | async"
    multiTemplateDataRows
    class="mat-elevation-z8">
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin</th>
      <td mat-cell *matCellDef="let element">{{ stationsDict[element.origin] }}</td>
    </ng-container>

    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
      <td mat-cell *matCellDef="let element">{{ stationsDict[element.destination] }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price ($)</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="connections">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Connections</th>
      <td mat-cell *matCellDef="let element">{{ element.connections.length === 0 ? 0 : element.connections.length -1 }}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let element">{{ element.duration | duration: 'biggest' : 'full' }}</td>
    </ng-container>

    <ng-container matColumnDef="startAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start at</th>
      <td mat-cell *matCellDef="let element">{{ element.startAt | date: 'MMM d, y, h:mm a' }}</td>
    </ng-container>

    <ng-container matColumnDef="endAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End at</th>
      <td mat-cell *matCellDef="let element">{{ element.endAt | date: 'MMM d, y, h:mm a' }}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="flight-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="flight-connection" *ngFor="let connectionFlight of element.connections">
          <div class="flight-position"> From: {{stationsDict[connectionFlight.origin]}} </div>
          <div class="flight-position"> To: {{stationsDict[connectionFlight.destination]}} </div>
          <div class="flight-position"> Duration: {{connectionFlight.duration | duration: 'biggest' : 'full'}} </div>
          <div class="flight-position"> Start at: {{connectionFlight.startAt | date: 'MMM d, y, h:mm a'}} </div>
          <div class="flight-position"> End at: {{connectionFlight.endAt | date: 'MMM d, y, h:mm a'}} </div>
        </div>
      </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="flight-row"
      [class.flight-expanded-row]="expandedElement === element"
      (click)="expandFlight(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="flight-detail-row"></tr>
  </table>
</div>
